<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Starter Template - Materialize</title>
  <background=<!-- CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" type="button"><a href="{{url_for('index')}}">Home</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a
            href="{{url_for('index')}}">About</a></button>
      </form>
    </nav>

    <br>
    <br>
    <div class="container1">

      <h1 class="header">Energy Consumption Prediction Model in Smart Homes</h1>

      <form action="{{url_for('index')}}" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s4">
            {{form.hour.label}} <br>
            {{form.hour}}

          </div>
          <div class="input-field col s4">
            {{form.day.label}} <br>
            {{form.day}}

          </div>

          <div class="input-field col s4">
            {{form.month.label}}<br>
            {{form.month}}

          </div>
          <div class="input-field col s4">
            {{form.year.label}}<br>
            {{form.year}}
          </div>
          <br>
          <br>
        </div>
        <div class="center">

          {{form.choice}}

        </div>
        <div class="button">
          {{form.csrf_token}}
          {{form.predict_probability}}
        </div>
    </div>


    {% if output %}
    <div class="output">
      {{"The Energy consumed is: "+ output + "kW"}}
    </div>
    {% endif %}
  </div>
  </form>
  <br>
  <table class="table" width="70%"> 
    <tr>
      <th>Hour</th>
      <th>Day</th>
      <th>Month</th>
      <th>Year</th>
      <th>Type</th>
      <th>Result(kW)</th>
    </tr>

    {% for input in entries %}
    <div class="table">

      <tr>
        <td>{{input.hour}}</td>
        <td>{{input.day}}</td>
        <td>{{input.month}}</td>
        <td>{{input.year}}</td>
        <td>{{input.prediction}}</td>
        <td>{{input.output}}</td>
      </tr>
    </div>
    {% endfor %}
  </table>
  </div>







</body>

</html>